
#tools {
    display: flex;
    flex-direction: row;
    margin: 45px 7% 23px 5%;
    align-items: center;
}

#arrow {
    width: 40px;
    height: 40px;
}

.estate-title {
    font-size: 45px;
    margin-left: 35px;
}

#add-device {
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    margin-top: 20px;
}

#plus {
    height: 20px;
    margin-right: 8px;
}

#add-device:hover {
    cursor: pointer;
}

#devices-container{
    margin: 0 50px;
}

.device-card {
    display: inline-block;
    border-radius: 9px;
    overflow: hidden;
    padding-bottom: 9px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(189, 189, 189);
    margin: 25px 2.4%;
    width: 15%;
}

.device-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.device-img {
    width: 100%;
    height: 100%;
    max-height: 250px;
}

.device-info {
    padding-left: 7%;
}

.device-title {
    margin: 0;
    margin: 9px 0;
    font-size: 1.5em;
    font-weight: 500;
}

.device-text {
    margin: 0;
    color: gray;
    margin-bottom: 13px;
    font-size: 1em;
}

.state-color {
    color: green;
}

#tools a{
    text-decoration: none;
    color: inherit;
}

#confirm-button.disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
    cursor: default;
}

.devices-title{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
    font-weight: 500;
}

#ac-dropdown {
    margin: 0 1em 3em 1em !important;
    width: 75%;
}

#graph {
    /* margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1.5em;
    margin-top: 22em; */

}

#custom-date-range-container {
    width: 100%;
    text-align: right;
}

#custom-date-range {
    font-size: large;
    margin-right: 4em;
    margin-bottom: 1em;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
}

#custom-date-range:hover{
    cursor: pointer;
}

#device-name {
    display: inline-block;
    width: fit-content;
    font-size: 3em;
    margin-left: 1em;
}