
#real-estates-parent-container{
    margin-bottom: 5em;
}

#add-real-estate {
    text-align: right;
    width: fit-content;
    text-align: right;
    font-size: large;
    margin-left: 85%;
    font-weight: 500;
    margin-bottom: 0;
}

#plus {
    height: 15px;
    text-align: right;
    vertical-align: middle;
    padding-bottom: 0.3em;
}

#add-real-estate:hover {
    cursor: pointer;
}

#real-estates-container {
    display: block;
  }

.real-estate-card {
    margin-top: 3em;
    margin-left: 5%;
    display: inline-block;
    width: 22%;
    border-radius: 10%;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: rgb(230, 230, 230);
    border: 1px solid  rgb(189, 189, 189);
}

.real-estate-card:hover {
    cursor: pointer;
}

.selected-card {
    transition: opacity 0.3s ease-in-out;
}

.not-selected-card {
    opacity: 0.6;
}

.real-estate-img {
    width: 100%;
    height: 100%;
}

.real-estate-info {
    padding-left: 7%;
}

.real-estate-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
    font-weight: 500;
}

.real-estate-text {
    color: gray;
    font-size: 1em;
}

.accepted {
    color: green;
}

.declined {
    color: red;
}

.pending {
    color: gray;
}

#nothing-available {
    text-align: center;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    width: 98.5%;
    height: 3.5em;
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
}

.bottom-bar-btn {
    width: 8em;
    height: 100%;
    border: 0px;
    font-size: large;
    font-weight: bold;
}

.bottom-bar-btn:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.bottom-bar-btn:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

#bottom-bar-approve {
    color: green;
    margin-right: 10em;
}

#bottom-bar-discard {
    color: red;
}
